apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-deployment
  labels:
    app: python
spec:
  replicas: 4
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
      - name: python
        image: shen19/hello-pipeline-python:v1
        ports:
        - containerPort: 8080
